@keyframes move-in-top {
   0% {
      opacity: 0;
      transform: translateY(3rem);
   }

   100% {
      opacity: 1;
      transform: translate(0);
   }
}

// @keyframes glitch-it {
//    0% {
//       transform: translate(0);
//    }

//    20% {
//       transform: translate(-2px, 2px);
//    }

//    40% {
//       transform: translate(-2px, -2px);
//    }

//    60% {
//       transform: translate(2px, 2px);
//    }

//    80% {
//       transform: translate(2px, -2px);
//    }

//    to {
//       transform: translate(0);
//    }
// }

@keyframes move-in-left {
   0% {
      opacity: 0;
      transform: translateX(-10rem);
   }

   80% {
      transform: translateX(1rem);
   }

   100% {
      opacity: 1;
      transform: translate(0);
   }
}

@keyframes move-in-right {
   0% {
      opacity: 0;
      transform: translateX(10rem);
   }

   80% {
      transform: translateX(-1rem);
   }

   100% {
      opacity: 1;
      transform: translate(0);
   }
}